@import "./styles/variable.css";
@import "./styles/commonClass.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans Condensed", sans-serif;
  background: var(--background);
}
html {
  font-size: 62.5%;
}
