.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem;
}
.testimonial-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.testimonial-intro h3 {
  font-size: 3.2rem;
}
.testimonial-intro h1 {
  font-size: 5.3rem;
}
.testimonial-intro p {
  font-size: 1.8rem;
  color: var(--gray-text);
  text-align: center;
  width: 50%;
  line-height: 1.5;
}

.home-testimonial {
  background: #fff;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);

  align-items: flex-start;
  justify-content: center;
  padding: 5rem;
  width: 54rem;
}
.test {
  display: flex;
  /* background: #fff; */
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  gap: 3rem;
}

.home-testimonial {
  font-size: 2.2rem;
  width: 90%;
  font-weight: 500;
}
.reviewer-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.reviewer-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.reviewer-name {
  font-size: 1.8rem;
  font-weight: 600;
}
.reviewer-city {
  font-size: 1.5rem;
  font-weight: 1.4rem;
  text-transform: capitalize;
}
