.pageHero {
  background: linear-gradient(rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.263));
  background-size: cover;
  width: 100vw;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about-head-primry {
  font-size: 3.2rem;
  font-weight: bold;
  margin-left: 4rem;
}
.about-head-sec {
  font-size: 2.4rem;
  margin-left: 4rem;
}
