.tag-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--blue-bg);
  height: auto;
  /* margin: 8rem 0; */
  padding: 6rem 0;
  text-align: center;
  width: 100%;
}
.tagline {
  font-size: 5.2rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.3;
}
.tag-para {
  font-size: 3.2rem;
  color: #fff;
}
